.jed-scroll{
    overflow: hidden;
    position: relative;
}
.jed-scroll .scroll{
    width: 50000px;
    box-sizing: border-box;
}
.jed-scroll .scroll .slide{
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}

.jed-scroll .list{
    opacity: 0;
    margin-bottom: 70px;
    transition: 0.5s;
}


.jed-scroll .navi{
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
.jed-scroll .left, .jed-scroll .right{
    float: none;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    width: 54px;
    height: 54px;
    z-index: 1;
    cursor: pointer;
    font-size: 1.8em;
    font-weight: 200;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    padding: 0px;
}


