
/* mobile menu */
body {
    position: relative;
    top: 0;
    left: 0;
    transition: 0.3s; }

.body-mobile {
    width: 100%;
    overflow: hidden;
    left: -100%; }

.menu-start {
    display: none;
    background-image: url("menu-start.png");
    background-position: center right;
    background-repeat: no-repeat;
    width: 40px;
    padding: 8px 30px 8px 0px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    float: right;
    color: #FFF;
    transition: 0.3s; }

.menu-start.close {
    background-image: url("");
    color: transparent;
}

.menu-mobile li{display:block}
.menu-mobile .active a{text-decoration:underline;color:#1714dc}
.menu-mobile a:hover{color:#1714dc;background-color:#fff;text-decoration:none}

.menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    box-sizing: border-box;
    padding: 100px 0px 50px 0px;
    overflow: hidden;
    opacity: 1;
    margin-right: -100%;
    transition: 0.3s; }

.menu-mobile .main{
    padding: 0px;
}
.menu-mobile.open {
    margin-right: 0px;
    overflow: scroll; }

.menu-mobile a {
    display: block;
    color: #000;
    font-size: 1.2em;
    font-weight: 300;
    padding: 4px 0px;
    text-decoration: none;
    text-transform: uppercase; }

.menu-mobile .down {
    padding: 10px 0px; }

.menu-mobile .down a {
    margin-left: 20px;
    text-transform: none;
    font-weight: 100; }

@media only screen and (max-width: 980px) {
    .topMenu .menu {
        display: none;
    }

    .topMenu .menu-start {
        display: block;
    }
}